.appIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.activeDot {
    --dot-diameter: 0.3rem;
    height: var(--dot-diameter);
    width: var(--dot-diameter);
    background-color: #ffffff83;
    border-radius: 50%;
    /* Transition */
    transition-delay: 0.2s;
    transition-duration: 0.06s;
    /* Position */
    position: absolute;
    bottom: var(--dot-diameter);
}
