html {
    margin-bottom: 200px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    color: rgb(11, 10, 16);
    background-color: white;
    transition: background-color 0.4s cubic-bezier(0.37, 0, 0.63, 1);
}

body.darkmode {
    background-color: rgb(11, 10, 16);
    color: white;
}

h2, h3, h5 {
    color:#db816d;
}

h2.darkmode, h3.darkmode, h5.darkmode {
    color: #e59886;
}

h1 {
    font-size: 5rem;
    font-weight: 200;
    padding-top: 0;
    margin: 0;
}

h2#short-desc {
    font-size: 2.3rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2.3rem;
    font-weight: 300;
}

.full-width-cards.darkmode {
    background-color: rgb(25, 23, 34);
}

small.text-muted a, footer, footer a {
    color: #e1a39c;
}

small.text-muted a.darkmode, footer.darkmode, footer a.darkmode {
    color: #da9992;
}

footer, footer a {
    font-size: 1.45rem;
}

a {
    color: #db816d;
}

a:hover {
    color: #db816d;
}

::selection {
    background: #FEF0EF;
    color:rgb(11, 10, 16);
}

::-moz-selection {
    background: #FEF0EF;
    color:rgb(11, 10, 16);
}

/* The switch - the box around the slider */
/* Code from: https://www.w3schools.com/howto/howto_css_switch.asp */
.darkmode-container {
    position: relative;
    display: flex;
    justify-content: right;
}

.darkmode-container label {
    margin-bottom: 0;
}

.darkmode-container svg {
    margin-left: 7px;
    align-self: center;
}

.darkmode-switch {
    position: relative;
    width: 56px;
    height: 30px;
}

/* Hide default HTML checkbox */
.darkmode-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f0dfdd;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #f1afa8;
}

input:focus + .slider {
    box-shadow: 0 0 1px #f1afa8;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 30px;
}

.slider.round:before {
    border-radius: 50%;
}
