.edu li {
    padding-bottom: 0.35rem;
}

.lang {
    font-size: 1rem;
    padding: 0;
}

.lang ul, ul.piano {
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0.35rem;
    list-style: none;
}

.lang li {
    display: inline-block;
    background-color: #fef0ef;
    border-radius: 1rem;
    padding-bottom: 0;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    margin: 0.2rem 0.1rem;
    font-size: 1.2rem;
    transition: background-color 0.6s;
}

.lang.darkmode li {
    background-color: #c87c6b;
}

.container-fluid, .container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

div:nth-of-type(2) {
    margin-top: 0;
}

img {
    border-radius: 0.4rem;
    object-fit: cover;
}

p.long-desc {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.edu-main, h4 {
    font-size: 1.5rem;
}

.edu-sub {
    font-size: 1.2rem;
    font-weight: 400;
    color: #de968a;
}

.edu-sub.darkmode {
    color: #da9992;
}

.edu-deg {
    font-size: 1.1rem;
    font-weight: 400;
}

.piano-main {
    font-size: 1.5rem;
    font-weight: 300;
    color: #e4877c;
}

.listening-desc {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.listening-desc, .piano-desc {
    font-size: 1.1rem;
}

.project-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title a {
    font-size: 1.5rem;
}

h3.projects {
    margin-bottom: 1.5rem;
}

h3.listening {
    margin-bottom: 0.8rem;
}


@media (min-width: 992px) {
    #main-intro {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }    
}

@media (max-width: 992px) {
    #main-intro {
        padding-left: 0;
        padding-right: 0;
    }
}