.iconContainerBounce {
    animation-name: bounce;
}

.appIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.appIconOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 0.75rem;
}

.activeDot {
    --dot-diameter: 0.25rem;
    height: var(--dot-diameter);
    width: var(--dot-diameter);
    background-color: #ffffff83;
    border-radius: 50%;
    /* Transition */
    transition-delay: 0.2s;
    transition-duration: 0.06s;
    /* Position */
    position: absolute;
    bottom: calc(var(--dot-diameter) * 2 / 3);
}
