/* app styling */
main {
    /* size, position */
    width: var(--app-width);
    height: var(--app-height);
    position: absolute;
    top: calc(50% - var(--app-height) / 2);
    left: calc(50% - var(--app-width) / 2);
    /* color, effect, shape */
    background-color: var(--light-bg-1);
    backdrop-filter: var(--blur);
    border-radius: var(--app-radius);
    box-shadow: var(--box-shadow);
    /* display property */
    display: grid;
    grid-template-areas: 
        "nav-ctrl main-content"
        "side-bar main-content";
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--nav-height)  1fr;
    /* resize: both; */
}

main.closed {
    overflow: hidden;
    width: 0;
    height: 0;
    transition: all 0.15s ease-in;
}

main.minimized {
    overflow: hidden;
    width: var(--sidebar-width);
    height: var(--nav-height);
    transition: width 0.15s ease-in,
                height 0.15s ease-in;
}

main.minimized #nav-ctrl {
    border: none;
}

main.expanded {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
}

/* main content styling */
.main-content {
    grid-area: main-content;
    background-color: var(--light-bg-2);
    border-radius: 0 var(--app-radius) var(--app-radius) 0;
    overflow: hidden;
}

    main.expanded .main-content {
        border-radius: 0;
    }

/* content wrapper styling */
.content-wrapper {
    display: flex;
    flex-direction: column;
}

/* display styling */
.display-wrapper {
    height: var(--display-height);
    padding: 0 var(--display-padding-w);
    overflow-y: auto;
    scroll-behavior: smooth;
}

    main.expanded .display-wrapper {
        height: 100vh;
    }

    .display {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        margin-bottom: var(--display-margin-bottom);
    }

    .display > * {
        margin: var(--section-margin); 
    }

    .display:not(.active) {
        display: none;
    }

    .display-section:last-of-type {
        margin: 0;
    }

    .display .display-section h3:not(:first-of-type) {
        margin-top: var(--sub-section-margin);
    }