@media (max-width: 860px) {
    main {
        top: 0;
        grid-template-areas: "main-content";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        border-radius: 0;
        height: 100vh;
        width: 100vw;
    }

    .main-content {
        border-radius: 0;
    }

    #sidebar {
        display: none;
    }

    #nav-ctrl {
        display: none;
    }

    .top-nav {
        opacity: 0;
    }

    .bottom-nav {
        opacity: 100;
    }

    .display-wrapper {
        height: 100vh;
        padding: 0 1rem;
    }
}

@media (max-height: 860px) {
    main {
        top: 0;
        height: 100vh;
    }
}