.detailed-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: var(--app-radius);
    background-color: var(--light-bg-1);
    border: var(--border-width) solid var(--light-bg-1);
}

    .detailed-list .list-item {
        display: grid;
        grid-template-areas: "img name link"
                             "img desc link";
        grid-template-columns: var(--icon-width-2) 3fr 1fr;
        grid-template-rows: auto auto;
        padding: var(--container-padding);
        gap: 0 1.2rem;
        height: 3rem;
    }

    .detailed-list .list-item img {
        grid-area: img;
        margin: auto;
        width: 100%;
        border-radius: 0.615rem;
        filter: var(--invert-filter);
    }

    .detailed-list .list-item .name {
        grid-area: name;
    }

    .detailed-list .list-item .desc {
        grid-area: desc;
        color: var(--light-text-muted);
        font-style: italic;
        font-size: 0.9rem;
        overflow: hidden;
    }

    .detailed-list .list-item .link {
        grid-area: link;
        margin: auto;
    }

/* size adjustments */
.detailed-list.l1 {
    grid-template-columns: 1fr;
    overflow: auto;
}

    .detailed-list.l1.l2 .list-item img {
        display: none;
    }

    .detailed-list.l1.l2 .list-item {
        display: grid;
        grid-template-areas: "name link"
                            "desc link";
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto auto;
    }