/* text img container */
.text-img-container.l1 {
    grid-template-columns: 70% 1fr;
    gap: 1rem;
}

.text-img-container.l1.left-img {
    grid-template-columns: 1fr 70%;
}

.text-img-container.l1.l2 {
    grid-template-columns: 60% 1fr;
}

.text-img-container.l1.l2.left-img {
    grid-template-columns: 1fr 60%;
}

.text-img-container.l1.l2.l3 {
    grid-template-columns: 50% 1fr;
}

.text-img-container.l1.l2.l3.left-img {
    grid-template-columns: 1fr 50%;
}

.text-img-container.l1.l2.l4 {
    grid-template-areas: "text"
                         "img";
    grid-template-columns: 1fr;
    grid-template-rows: auto 20rem;
}