/* text container */
.text-container {
    border-radius: var(--app-radius);
    background-color: var(--light-bg-1);
    border: var(--border-width) solid var(--light-bg-1);
    padding: var(--group-card-m-padding);
    transition: all 0.15s ease-out;
}

.text-container:hover {
    border: var(--border-width) solid var(--light-text);
}

/* text img container */
.text-img-container {
    display: grid;
    grid-template-areas: "text img";
    grid-template-columns: 75% 1fr;
    gap: 1.2rem;
}

    .text-img-container.left-img {
        grid-template-areas: "img text";
        grid-template-columns: 1fr 75%;
    }

    .text-img-container .img-container {
        grid-area: img;
        background-color: var(--light-bg-1);
        padding: var(--group-card-m-padding);
        margin: 0;
        border-radius: var(--app-radius);
        border: var(--border-width) solid var(--light-bg-1);
        transition: all 0.25s ease-out;
    }

    .text-img-container .img-container:hover {
        border: var(--border-width) solid var(--light-text);
        padding: 0;
    }
    
    .text-img-container .img-container:hover img {
        transition-duration: 0.25s;
        border-radius: var(--app-radius);
    }

    .text-img-container .img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        margin: 0;
        border-radius: 0.625rem;
    }

/* flex containers */
.v-space-between {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h-space-between {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h-space-between.reverse {
    flex-direction: row-reverse;
}

/* multi column containers */
.col-2 {
    display: flex;
    /* flex-wrap: wrap; */
    /* grid-template-columns: 1fr 1fr; */
    max-width: 100%;
    gap: 1rem;
}

    .col-2 > * {
        width: 50%;
    }

/* spacers */
.bottom-spacer-s {
    margin-bottom: var(--s-font);
}