/* general styling */
html, body {
    user-select: none;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: poppins, "sans serif";
    color: var(--light-text);
    overflow: hidden;
}

a {
    color: var(--light-text);
    text-decoration: none;
}

a:hover {
    color: var(--light-text);
}

body {
    background: var(--wallpaper);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
}

h1 {
    font-weight: 300;
    font-size: var(--xl-font);
}

h2 {
    font-weight: 300;
    font-size: var(--l-font);
    color: var(--light-text);
}

h3 {
    font-size: var(--m-font);
    margin-bottom: var(--s-font);
}

h4 {
    font-size: var(--s-font);
    margin: var(--s-font) 0;
    /* font-weight: 400; */
}

.muted-text {
    font-size: 0.8rem;
    color: var(--light-text-muted);
}

.light-text {
    color: var(--light-text);
    display: inline;
    font-weight: 400;
}