/* group container */
.group-container {
    display: grid;
    gap: 1.1rem 1.2rem;
}

.group-container.col1 {
    grid-template-columns: 1fr;
}

.group-container.col2 {
    grid-template-columns: 1fr 1fr;
}

.group-container.col3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.group-container.col4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

    .group-container.h-scroll {
        grid-template-columns: repeat(auto-fill, calc(33% - 0.65rem));
        grid-auto-flow: column;
        grid-auto-columns: calc(33% - 0.65rem);
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 1.75rem;
    }

    .group-container .group-card {
        /* display layout */
        display: grid;
        grid-template-areas: "icon name"
                            "desc desc";
        grid-template-columns: var(--icon-width-2) 1fr;
        grid-template-rows: var(--icon-width-2) 1fr;
        /* styling */
        background-color: var(--light-bg-1);
        padding: var(--container-padding);
        margin: 0;
        border-radius: var(--app-radius);
        border: var(--border-width) solid var(--light-bg-1);
        transition: all 0.15s ease-out;
    }
    
    .group-container .group-card-m {
        /* display layout */
        display: grid;
        grid-template-areas: "icon name"
                             "desc desc"
                             "link link";
        grid-template-columns: var(--group-card-m-icon) 1fr;
        grid-template-rows: var(--group-card-m-icon) 1fr auto;
        gap: 0.9rem 0.5rem;
        /* styling */
        background-color: var(--light-bg-1);
        margin: 0;
        border-radius: var(--app-radius);
        border: var(--border-width) solid var(--light-bg-1);
        transition: all 0.5s ease-out;
        padding: var(--group-card-m-padding);
        max-height: var(--group-card-m-icon);
        overflow: hidden;
    }

    .group-container .group-card-ml {
        /* display layout */
        display: grid;
        grid-template-areas: "icon"
                             "name"
                             "desc"
                             "hidden";
        grid-template-rows: auto 2rem 1.25rem auto;
        gap: 0.15rem 0.7rem;
        /* styling */
        background-color: var(--light-bg-1);
        margin: 0;
        border-radius: var(--app-radius);
        border: var(--border-width) solid var(--light-bg-1);
        transition: all 0.25s ease-out;
        padding: var(--group-card-m-padding);
        height: 18.5rem;
        overflow: hidden;
    }

    .group-container .group-card-l {
        /* display layout */
        display: grid;
        grid-template-areas: "icon"
                             "name"
                             "desc"
                             "hidden";
        grid-template-rows: var(--group-card-l-icon-h) auto auto auto;
        gap: 0.15rem 0.7rem;
        /* styling */
        background-color: var(--light-bg-1);
        margin: 0;
        border-radius: var(--app-radius);
        border: var(--border-width) solid var(--light-bg-1);
        transition: all 0.25s ease-out;
        padding: var(--group-card-m-padding);
    }

    .group-container .group-card:hover, 
    .group-container .group-card-m:hover, 
    .group-container .group-card-ml:hover,
    .group-container .group-card-l:hover {
        border: var(--border-width) solid var(--light-text);
    }

    .group-container .group-card-m:hover,
    .group-container .group-card-m:active {
        box-shadow: var(--box-shadow);
        max-height: 100%;
    }

    .group-card .icon, .group-card-m .icon {
        grid-area: icon;
        width: 100%;
        height: auto;
        margin: auto auto;
        border-radius: 0.615rem;
    }

    .group-card-ml .icon {
        grid-area: icon;
        width: 100%;
        height: 15rem;
        object-fit: cover;
        object-position: center center;
        border-radius: 0.615rem;
        transition: all 0.25s linear;
    }

    .group-card-ml:hover .icon,
    .group-card-ml:active .icon {
        height: 0;
    }

    .group-card-l .icon {
        grid-area: icon;
        width: 100%;
        height: 22.5rem;
        object-fit: cover;
        object-position: center center;
        border-radius: 0.615rem;
    }

    .group-card .name, 
    .group-card-m .name {
        grid-area: name;
        margin-left: var(--icon-size);
        margin-right: var(--icon-size);
        align-self: center;
        font-weight: 500;
        color: var(--light-text-muted);
        display: flex;
        justify-content: space-between;
    }

    .group-card-ml .name,
    .group-card-l .name {
        grid-area: name;
        margin: auto;
        margin-top: 0.5rem;
        padding: 0 1rem;
        /* border-radius: var(--app-radius);
        background-color: var(--light-bg-3);
        border: var(--border-width) solid var(--light-bg-2); */
    }

    .group-card .desc, 
    .group-card-m .desc {
        grid-area: desc;
        font-size: 0.9rem;
    }
    
    .group-card-ml .desc,
    .group-card-l .desc {
        grid-area: desc;
        font-size: 0.8rem;
        display: flex;
        justify-content: space-between;
        font-style: italic;
        color: var(--light-text-muted);
    }

    .group-card-ml .hidden {
        grid-area: hidden;
        font-size: 0.8rem;
        margin-top: 1rem;
        transition: all 0.25s linear;
    }

    .group-card-ml:hover .hidden,
    .group-card-ml:active .hidden {
        margin-top: .25rem;
    }

    .group-card-m .link {
        grid-area: link;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        max-width: 100%;
        /* justify-content: space-between; */
        gap: 0.4rem;
        margin-bottom: 0.25rem;
    }