/* education section styling */
#education {
    margin-top: 0;
}

/* intro section styling */
#intro {
    margin-top: 1.5rem;
    padding: var(--display-padding);
    border-radius: var(--app-radius);
    color: white;
    font-size: var(--m-font);
    font-weight: 300;
    background-image: 
        var(--polygons),
        linear-gradient(70deg, var(--gradient-1) 0%, var(--gradient-2) 70%);
    background-repeat:
        no-repeat,
        no-repeat;
    background-position:
        75% 50%,
        center;
    margin-bottom: var(--sub-section-margin); 
}

    #intro > * {
        margin-top: 1rem;
    }

    #intro h2 {
        color: black;
    }

    #intro footer {
        display: flex;
        margin: var(--footer-margin);
    }
    
    #shorecrest-logo {
        height: 24px;
    }

    #udemy-logo {
        height: 24px;
    }

    #pdf-icon {
        height: 22px;
    }

/* interests section styling */
#piano-playlist {
    /* max-height: 80px; */
    max-height: 230px;
    transition: all 0.5s ease-out;
    overflow: hidden;
    border-radius: var(--app-radius);
}

/* enable selection on email */
.hl .name {
    user-select: all;
}

/* contacts */
#contacts .group-container img {
    filter: var(--invert-filter);
}

/* resume */
#resume .list-dropdown .list-container img {
    filter: var(--invert-filter);
}